@model List<DesaparecidoModel>




<body>
    <table class="table" id="table-desaparecidos">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">CorPele</th>
                <th scope="col">editar</th>
            </tr>
        </thead>

        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(DesaparecidoModel desaparecido in Model)
                {
                    <tr>
                        <th scope="row">@desaparecido.Id</th>
                        <td>@desaparecido.Nome</td>
                        <td>@desaparecido.Sobrenome</td>
                        <td>@desaparecido.CorPele</td>
                        <td><a class="btn-primary" role="button" asp-router-Id="@desaparecido.Id" asp-controller="Desaparecido" asp-action="EditarPage">Editar</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>